
*.hmap

DerivedData/CrabMan/Build/Intermediates/CrabMan.build/Debug/CrabMan.build/dgph

*.modulevalidation

*.idx

*.plist

*.xcactivitylog

*.db

*.strings-sym

*.o

*.d

*.dia

*.dat

*.LinkFileList

DerivedData/CrabMan/Build/Products/Debug/CrabMan

*.xcindexdb

*.xcindexdb-shm

*.xcindexdb-wal

*.xcfind

*.strings-dir

*.strings-file

*.strings-moduleurl

*.strings-cmp

*.strings-res
